@config "../../../tailwind.web.config.js";
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "apptheme";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(24.353% 0 0);
  --color-base-200: oklch(22.648% 0 0);
  --color-base-300: oklch(20.944% 0 0);
  --color-base-content: oklch(84.87% 0 0);
  --color-primary: oklch(70% 0.14 182.503);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(69% 0.17 162.48);
  --color-secondary-content: oklch(26% 0.051 172.552);
  --color-accent: oklch(67.271% 0.167 35.791);
  --color-accent-content: oklch(13.454% 0.033 35.791);
  --color-neutral: oklch(27.441% 0.013 253.041);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.no-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans", sans-serif;
}

:root {
  color-scheme: only light;
}

.contain > img {
  object-fit: contain;
  -o-object-fit: contain;
}

.cover > img {
  object-fit: cover;
  -o-object-fit: cover;
  inset: 0;
}
