<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

RewriteEngine On

RewriteCond %{HTTP_USER_AGENT} ^.*(meta-externalagent).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(meta-webindexer).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(Amzn-Searchbot).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(Amazonbot).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(dataforseo|dotbot|YandexBot|mj12bot).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(Barkrowler|paloalto|YandexAccessibilityBot).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(Owler|openai|CFNetwork|SeznamBot|NetworkingExtension).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(GPTBot|ClaudeBot|sbintuitions|Trident|petalbot).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(imagesift|coccocbot|Bytespider).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(researchscan|Facebot|commoncrawl|RealityCheats).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(Fedora|BonEcho|Sundance|SeaMonkey|Linguee).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(BLEXBot|AwarioBot|FSL|Crazy).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(CKRDM|CKRDM|Avant|FunWebProducts).*$ [NC]
RewriteRule .* - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^.*(GrandParadiso|Conkeror|ELinks|RealityCheats).*$ [NC]
RewriteRule .* - [F,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
