<article class="relative w-full text-white flex-col rounded aspect-[8/12] article-style-root">
    <a class="link-article-listener" aria-label="{{ article.title }}" target="_blank" href="{{ url }}">
        <div class="min-h-40 relative aspect-[8/12]">
            <amp-img layout="fill" alt="{{ article.title }}" class="object-cover w-full h-full cover amp-image-rounded" src="{{ image }}"></amp-img>
        </div>
        <div class="absolute inset-0 z-10 article-style-layer"></div>
        <div class="absolute left-0 right-0 bottom-0 z-20">
            <div class="relative px-2 py-2 flex flex-grow flex-col rounded article-style-info">
                <h2 class="font-bold text-center">{{ article.title }}</h2>
                <p class="text-center text-sm">{{ article.info }}</p>
            </div>
        </div>
    </a>
</article>