@config "../../../tailwind.admin.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

.loading-overlay-hidden {
  display: none;
}

body {
  font-family: "Noto Sans", sans-serif;
}

:root {
  color-scheme: only light;
}
